{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="big5">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Accounting Summary</title>
        <link rel='stylesheet' href='{% static 'accounting_entry/style.css' %}'>
        <script type = 'text/javascript'>
            function toggle_display(){
                const menuButton = document.getElementsByClassName('menu_button')[0];
                const navBar = document.getElementsByTagName('nav')[0]
                                    .getElementsByTagName('ul')[0];

                navBar.classList.toggle('active');
            }
        </script>
    </head>
    <body>

    <header>
        <div class = 'logo'>
            <span>住院明細</span>
        </div>
        <nav>
            <a href="#" onclick="toggle_display()">
            <div class = 'menu_button'>
                <span></span>
                <span></span>
                <span></span>
            </div>
            </a>
            <ul>
                <li><a href="#">選項一</li>
                <li><a href="#">選項二</li>
                <li><a href="#">選項三</li>
                <li><a href="#">選項四</li>
            </ul>
        </nav>
    </header>

    <div class='main_container'>
        <div class='user_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='monthly_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='total_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='user_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='monthly_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='total_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='user_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='monthly_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
        <div class='total_card'>
            <p>內文內文內文好棒棒</p>
            <p>內文內文內文好棒棒</p>
        </div>
    </div>
    <footer>
        All rights reserved. 2020 by ShunFu Hu Made with Django
    </footer>
    </body>
</html>
