{% extends "base.html" %}
{% block title %} 明細 -- {{entry.item}} {% endblock title %}
{% if error_message %} <p> <strong> {{error_message}} </strong> </p>  {% endif %}
{% block content %}
<div class = 'detail'>
    {% if entry.entry_type == 'out' %}
    <span class = 'accentuated_tag'>支出: author</span>
    {% else %}
    <span class = 'accentuated_tag'>收入: author</span>
    {% endif %}
    <ul>
        <li><span class = 'tag'>日期</span>
            <span class = 'entry_data'>{{ entry.pub_date }}</span>
        </li>
        <li><span class = 'tag'>金額</span>
            <span class = 'entry_data'>{{ entry.amount }}</span>
        </li>
        <li><span class = 'tag'>項目</span>
            <span class = 'entry_data'>{{ entry.item }}</span>
        </li>
        <li><span class = 'tag'>備註</span>
            <span class = 'entry_data'>{{ entry.note }}</span>
        </li>
        <li><span class = 'tag'>收據</span>
            <span class = 'entry_data'>{{ entry.receipt }}</span>
        </li>
    </ul>
</div>
{% endblock content %}
