@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: white;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    letter-spacing: .03em;
    display: grid;
    grid-template-rows: min(100%, 100px) auto min(100%, 100px);
    grid-template-areas:
        "header" "main_container" "footer";
}

a {
    text-decoration: none;
    color: #6a7f7a;
}

header {
    grid-area: header;
    border-bottom: #bcde55 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #e6f3bf;
    box-shadow: .1em .1em .1em #bcde55;
}

.logo, .logo a, .logo_if_small, .logo_if_small a {color: #758f19;}

.logo, .logo_if_small {
    font-weight: 800;
    padding: .5em;
}

.logo_if_small {
    display: none;
}

.menu_button {
    display: none;
    position: fixed;
    top: .5em;
    left: .5em;
    background: #6a7f7a;
    border: 1px solid #6a7f7a;
    opacity: .9;
}

.menu_button, .menu_button span {
    border-radius: .4em;
}

.menu_button:hover {
    background-color: #758f19;
    border-color: #bcde55;
}

.menu_button span {
    font-size: .7em;
    font-weight: 300;
    color:white;
    padding: .25em;
}

nav, nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav {
    justify-content: space-around;
}

nav ul {
    justify-content: space-evenly;
}

nav li, .card li, .manage-card li {
    display: block;
    list-style: none;
    padding: 10px;
}

nav li {
    transition-duration: .5s;
}

nav li:hover {
    background: #bcde55;
}


nav li a {
    text-decoration: none;
    font-weight: 400;
}

.main_container {
    grid-area: main_container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 1.5em;
    padding: 2em;
}

.card, .manage-card {
    box-shadow: .2em .2em .1em #e6f3bf;
    border: 1px solid #6a7f7a;
    padding: .3em;
}

.card {
    //width: 10em;
    overflow-wrap: break-word;
}

.card ul, .manage-card ul {
    display: block;
}

.card .tag, .manage-card .tag {
    padding: .2em;
    border: 1px solid #6a7f7a;
    color: #6a7f7a;
    border-radius: .4em;
    font-size: .7em;
}

.accentuated_tag {
    background-color: #6a7f7a;
    color: white;
    max-width: 100%;
    border-radius: 0 0 .4em 0;
    padding: .2em;
    margin: 0;
}

.manage-card {
    max-width: 49em;
    margin: 1em auto;
    border: 1px solid #ecf6d0;
    padding: 1em;
    border-radius: .4em;
}

.manage-card .accentuated_tag {
    border-radius: .2em .2em 0 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-gap: .2em;
    width: minmax(100%, 450px);
}

input, textarea, select {
    border: 1px solid #bcde55;
    border-radius: .2em;
    padding: .4em;
    width: 100%;
}

input[type="submit"] {
    background-color: #bcde55;
    letter-spacing: .3em;
    font-weight: 800;
}

table, thead, th, tr, td {
    border-collapse: collapse;
    padding: .3em;
    border: 1px solid #ccc;
    margin: 0 auto;
    text-align: right;
}

tr:hover {
    background: #ecf6d0;

}

.message {
    color: #777;
}

footer, .message {
    grid-area: footer;
    font-weight: 300;
    font-size: .8em;
    text-align: center;
    color: #333;
}

@media (max-width: 400px) {

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap
    }

    .menu_button {
        display: flex;
    }

    header, nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 100%;
    }

    nav, nav ul, .main_container {
        width: 100%;
    }

    nav ul {
        display: none;
        padding: 0;
    }

    nav ul.active {
        display: flex;
    }

    .main_container {
        padding: 1em .2em;
        flex-direction: column;
    }

    nav li, .logo {
        text-align: center;
        border-bottom: 1px solid #bcde55;
    }

    .card, .manage-card {
        width: 100%;
    }

    .card ul, .manage-card ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

}
