{% extends 'base.html' %}
{% block title %} 使用說明 {% endblock%}
{% block content %}
<div class="card">
    <span class = 'accentuated_tag'>使用說明</span>
    <ul>
        <li><span class = 'tag'>更新中</span>
            <span class = 'entry_data'>所需功能將陸續更新。</span>
        </li>
        <li><span class = 'tag'>新增明細</span>
            <span class = 'entry_data'>新增新的明細，如果有些欄位無法填，請填「無」。</span>
        </li>
        <li><span class = 'tag'>修改我的明細</span>
            <span class = 'entry_data'>一次列出所有的由你po的明細，改完之後案送出可以一次全部一起修改或刪除。如要刪除該篇，請在最下面的Delete的框框打勾。</span>
        </li>
        <li><span class = 'tag'>修改單一明細</span>
            <span class = 'entry_data'>找到你要修改的明細之後直接點下去。如果是你po的話，系統會讓自動讓你可以修改或刪除，如要刪除，請在最下面的Delete的框框打勾。按送出後該則明細資料就會更新了。</span>
        </li>
        <li><span class = 'tag'>刪除明細</span>
            <span class = 'entry_data'>請參考「修改我的明細」或「修改單一明細」。在可以修改明細的畫面中把欲刪除的明細下方的Delete的框框打勾，再送出。</span>
        </li>
        <li><span class = 'tag'>回首頁</span>
            <span class = 'entry_data'>按一下「住院明細」四個字就可以回到一開始的那一頁。</span>
        </li>
        <li><span class = 'tag'>回上一頁</span>
            <span class = 'entry_data'>按一下「住院明細」四個字就可以回到一開始的那一頁。用手機電腦瀏覽器的回上一頁功能就可了。資料不會被影響。</span>
        </li>
    </ul>
</div>
{% endblock %}
